<%- if controller_name != 'sessions' %>
  <div class="text-center mt-4">
    <%= link_to "ログイン", new_user_session_path, class: "text-purple-700 hover:text-purple-900 font-bold" %>
  </div>
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <div class="text-center mt-2">
    <%= link_to "新規登録", new_user_registration_path, class: "text-purple-700 hover:text-purple-900 font-bold" %>
  </div>
<% end %>

<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <div class="text-center mt-2">
    <%= link_to "パスワードを忘れた場合?", new_user_password_path(resource_name), class: "text-purple-700 hover:text-purple-900 font-bold" %>
  </div>
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <div class="text-center mt-2">
    <%= link_to "確認メールが届いていませんか?", new_user_confirmation_path(resource_name), class: "text-purple-700 hover:text-purple-900 font-bold" %>
  </div>
<% end %>
