<main>
  <div class="container mx-auto px-6 py-12">
    <h1 class="text-2xl mb-4">さぁ、学び始めよう</h1>
    <p class="text-gray-600 mb-8">あなたのキャリア構築に役立つ教材が揃っています。</p>

    <nav class="border-b border-gray-200">
      <div class="container mx-auto px-6">
        <div class="flex space-x-8">
          <!-- 選択中のタブ -->
          <button class="py-4 font-bold relative text-gray-900 group">
            プログラミング
            <!-- 選択中を示す下線 -->
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900"></span>
          </button>

          <!-- 非選択のタブ -->
          <button class="py-4 text-gray-600 hover:text-gray-900 relative group">
            データサイエンス
            <!-- ホバー時に表示される下線 -->
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"></span>
          </button>

          <button class="py-4 text-gray-600 hover:text-gray-900 relative group">
            PCスキル
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"></span>
          </button>

          <button class="py-4 text-gray-600 hover:text-gray-900 relative group">
            マーケティング
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"></span>
          </button>

          <button class="py-4 text-gray-600 hover:text-gray-900 relative group">
            営業・セールス
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"></span>
          </button>

          <button class="py-4 text-gray-600 hover:text-gray-900 relative group">
            会計
            <span class="absolute bottom-0 left-0 w-full h-0.5 bg-gray-900 opacity-0 group-hover:opacity-100 transition-opacity"></span>
          </button>
        </div>
      </div>
    </nav>

    <div class="mx-4 my-6">
      <div class="grid grid-cols-4 gap-4">
        <% @courses.each do |course| %>
          <%= render(Course::PanelCard.new(course: course)) %>
        <% end %>
      </div>

      <%= link_to 'すべてのプログラミングのコースを表示', '#', class: "inline-block mt-8 px-6 py-3 border rounded"%>
    </div>
  </div>
</main>
